@import 'hamburger.css';

/* basic layout stuff */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;

  display: flex;
  flex-flow: column nowrap;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;

  background-color: #3399FF;
}

.wrapper {
  width: 80%;
  height: 80vh;
  position: absolute;
  top: 10%;
  right: 10%;
  left: 10%;

  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: min-content;
  row-gap: 1em;
  overflow: scroll;
  
  padding: 0.5em;

  outline: 1px solid #000000;
}

.wrapper:after {
  height: 0.25em;
  content: '';
}

/* header */

header {
  width: auto;

  height: 10%;
  color: #FFFFFF;

  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  z-index: 999;
}

header * {
  padding: 0;
  margin: 0;
}

/* details */

.emphasis {
  font-size: 1.2em;
  font-weight: bold;
}

.center {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.heading {
  font-weight: bold;
  padding: 0;
}

.heading.sub {
  font-size: 1.1em;
}

.heading.major {
  font-size: 1.5em;
  border-bottom: 2px solid #999999;
}

.required::after {
  content:' *';
  color: #FF0000;
}

/* elements styling */

.wrapper {
  background-color: #CCCCCC;
}


.wrapper button, .wrapper input[type=submit] {
  cursor: pointer;
  color: #EEEEEE;
  background-color: #444444;
  border: 1px solid #000000;
}

.wrapper button:disabled, .wrapper input[type=submit]:disabled {
  cursor: not-allowed;
  color: #555555;
  background-color: #AAAAAA !important;
  border: 1px solid #888888 !important;
}

/* BUTTON OVERRIDES */

.admin {
  background-color: #333333 !important;
  border: 2px solid #000000 !important;
}

.danger {
  background-color: #550000 !important;
  margin-top: 1em;
  border: #220000 !important;
}