body { background-color: #3399FF;
       color: #FFFFFF;
	   font-family: Arial, Helvetica, sans-serif;
	   text-align: center;

}

h1 { text-align: center;
	 font-size: 500%;
	 padding-top: 50px;
}

button { background-color: #2F4F4F;
		color: #FFFFFF;
		border: 1px solid #999999;
		padding-left: 1em;
		padding-right: 1em;
		padding-top: .25em;
		padding-bottom: .25em;
		font-size: 120%;
		text-decoration: none;
}


.wrapper { background-color: #D3D3D3;
	   padding: 5px 20px;
	   width: 250px;
	   margin-left: auto;
	   margin-right: auto;
	   border: 3px solid #999999;
}

.wrapper .credentials {
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: center;
  margin: 0.5em;
}

label {
  color: #000000;
  text-align: left;
}

#homebox { background-color: #D3D3D3;
	   padding: 5px 20px;
	   width: 500px;
	   margin-left: auto;
	   margin-right: auto;
	   border: 3px solid #999999;
	   color: black;
}

#innerbox { background-color: #D3D3D3;
	   padding: 5px 20px;
	   width: 450px;
	   margin-left: auto;
	   margin-right: auto;
	   border: 3px solid #999999;
	   color: black;
}

#outerbox { background-color: #C0C0C0;
	   padding: 5px 20px;
	   width: 500px;
	   margin-left: auto;
	   margin-right: auto;
	   border: 3px solid #999999;
}


input[type=text], input[type=password] { background-color: #C0C0C0;
           padding: .4em .25em .4em .25em;
           border-radius: 5px;
}

input[type=submit] { background-color: #2F4F4F;
					 color: #FFFFFF;
					 border: 1px solid #999999;
           padding: .25em 1em .25em 1em;
           margin: 0.5em;
					 font-size: 120%;
}

footer { font-size: 90%;
	   text-align: right;
}
