@import 'common.css';

/* profile specific formatting */
.body {
  outline: 1px solid #000000;
  outline-offset: -1px;
  padding: 1em;
  display: flex;
  justify-content: space-around;
  gap: 1em;
}

.body hr {
  grid-column: 1 / -1;
  border: 1px solid #000000;
  height: 0;
  width: 100%;
}

.body .column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  flex: 1;
  gap: 1em;
}

.body .block .space {
  grid-column: 1 / 3;
  margin: 0.2em;
}

.body .block input {
  padding: 0.3em;
}

/*    tiled elements    */
.tiles {
  flex: fit-content;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  justify-content: space-around;
  grid-gap: 1em;
}

.tiles .tile {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: space-around;
  padding: 0.5em;
  outline: 1px solid #000000;
  min-height: 150px;
}

.tile input:disabled {
  position: absolute;
  right: 0.5em;
  bottom: 1em;
  width: 2em;
  height: 2em;
}

/*    heading    */
.body .heading {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

/*    body inputs    */
.body .body input[type=submit] {
  width: 100%;
}

.body form {
  display: flex;
  height: inherit;
  align-content: center;
  justify-content: center;
}

.body form button {
  width: 80%;
  padding: 1em;
}

/* profile specifics */
.profile .block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: flex-start;
  padding: 1em;
  border: 1px solid black;
}

.profile {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
}

.wrap_profile {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 0.5em;
  grid-gap: 0.5em;
  flex: 3;
}

.right {
  flex: 1;
}

.body .image {
  margin: 1em auto;
  width: 12em;
  height: 12em;
  border: #111111;
  background-color: #444444;
}
