@import 'common.css';


/* profile specific formatting */
.body {
  outline-offset: -1px;
  padding: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 1em;
  
}

.body hr {
  grid-column: 1 / -1;
  border: 1px solid #666666;
  height: 0;
  width: 100%;
}

.body .column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  flex: 1;
  gap: 1em;
}

.body .block input {
  padding: 0.3em;
}

/*    tiled elements    */
.tiles {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: minmax(min-content, 1fr);
  grid-gap: 1em;
  justify-content: center;
}

.tiles .tile {
  position: relative;
  display: grid;
  grid-auto-rows: auto;
  grid-auto-flow: row;
  padding: 0.5em;
}

.tiles .tile.tall {
  grid-row: span 3;
}

.tile .label {
  margin-right: 1em;
  margin-top: 1em;
  font-weight: bold;
}

.tile input {
  padding: 0.5em;
}

.tile input[type=radio]:disabled {
  position: absolute;
  right: 0.3em;
  top: 0.3em;
  width: 1.5em;
  height: 1.5em;
  cursor: not-allowed;
}

.tile .check {
  position: absolute;
  font-size: 1.5em;
  right: 0.2em;
  top: 0em;
}

.tile.voted, .tile.winner {
  outline: 2px solid #666666;
}

.tile.center {
  justify-content: center;
  align-items: center;
}

/*    heading    */

.block .heading {
  grid-column: 1 / -1;
}

.tile .heading {
  margin-bottom: 0.5em;
}

.list .heading {
  grid-column: 1 / -1;
}

/* profile specifics */

.profile {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-flow: row wrap;
}

.list {
  height: 100%;
  display: grid;
  grid-row-gap: 0.2em;
  grid-template-columns: 2fr 3fr;
  align-items: center;
}

.list input, .list select {
  width: 100%;
  height: 2em;
}

.list option {
  width: inherit;
}


.list div {
  height: 100%;
}

.ruled div:nth-child(4n+1), .ruled div:nth-child(4n-2) {
  background-color: #DDDDDD;
}

.body input[type=file] {
  outline: 1px solid black;
  padding: 0.2em;
}

.list .label {
  font-weight: bold;
  margin: 0.2em 0;
}

.body .image {
  margin: 0 auto 1em auto;
  width: 12em;
  height: 12em;
  border: 1px solid #222222;
  background-color: #666666;
}

#pass_validation {
  font-size: 0.8em;
  margin: 0.2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1 / 3;
  border-radius: 5px;
  border: #AAAAAA;
  background-color: #DEDEDE;
}

#pass_validation.invalid {
  border: 1px solid #000000;
  background-color: #555555;
  color: #FFFFFF;
}

#pass_validation.valid {
  border: 1px solid #999999;
  background-color: #AAAAAA;
  color: #222222;
}


/*    body inputs    */
.body .body input[type=submit] {
  width: 100%;
}

.body form {
  position: relative;
  display: flex;
  height: inherit;
  align-content: center;
  justify-content: center;
  flex: 1;
}

.body form button {
  min-height: 50px;
  width: 80%;
}

.inputs {
  grid-template-columns: 2fr 3fr 1fr;
  column-gap: 0.5em;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  margin-bottom: 1em;
}

.inputs * {
  height: 100%;
  min-width: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.list .center {
  grid-column: 1 / -1;
}

.member_options {
  display: grid;
  grid-template-columns: 1.7em 1.7em;
  grid-template-rows: 1.7em;
  column-gap: 0.2em;
  position: absolute;
  bottom: 0.3em;
  right: 0.3em;
}

.member_options form {
  position: relative;
}

.member_options button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  min-height: 2em !important;
}

.tip {
  background-color: #444444;
  border: 1px solid #222222;
  color: #FFFFFF;
  visibility: hidden;
  position: absolute;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  z-index: 9999;
  bottom: 100%;
}

.tip.bottom {
  bottom: 0;
}

*:hover>.tip {
  visibility: visible;
}

/* element styling */

.body {
  outline: 1px solid #222222;
  background-color: #DEDEDE;
}

.tile {
  outline: 1px solid #777777;
  background-color: #EEEEEE;
}

.heading.sub {
  border-bottom: 2px solid #AAAAAA;
}

.tile.greyed {
  background-color: #DEDEDE !important;
  font-style: italic; 
}

.tile.greyed .ruled div:nth-child(4n+1), .tile.greyed .ruled div:nth-child(4n-2) {
  background-color: #CCCCCC;
}