
body {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 90%;
  height: 600px;
  margin: 0 auto;
}

/* profile specific formatting */

.profile {
  border: 1px solid black;
}

.profile .body {
  padding: 1em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  gap: 1em;
}

.profile .body .column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  flex: 1;
  gap: 1em;
}

.profile .body .block {
  grid-column: span 1;
  grid-row: span 1;
  display: grid;
  grid-auto-columns: 1fr 2fr;
}

.profile .body .heading {
  font-weight: bold;
  grid-column: span 2;
  margin: 0 0 1em 0;
}

.profile .body .heading.sub {
  font-size: 1.1em;
}

.profile .body .heading.major {
  font-size: 1.5em;
}

.profile .body .label {
  font-style: italic;
}

.profile .body input[type=submit] {
  width: 100%;
}

.profile button {
  height: 100%;
}
