@import 'common.css';

/* basics */

a {
  text-decoration: none;
}

.options .heading {
  padding: 1em 0;
  width: 100%;
  text-align: center;
}

/* list formatting */

.selection {
  height: inherit;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 3fr 2fr;
}

.results {
  height: 100%;
  overflow-y: scroll;
  display: grid;
  grid-auto-rows: minmax(auto, max-content);
  grid-column: 1 / 2;
  padding: 0.5em;
}

.results .data {
  display: grid;
  grid-template-columns: 2fr auto;
  justify-content: space-between;
  padding: 0.5em;
  margin: 0.5em;
}

.center {
  flex: 1;
}

/* to comply with the design for faculty listing... */

.result_choices {
  margin-left: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.result_choices input {
  width: 1.5em;
  height: 1.5em;
  flex: none;
}

.result_choices a, .result_choices a button {
  width: 100%;
  height: 100%;
}

/* options menu style */

.options {
  height: inherit;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
}

.options hr {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 0;
}

.searchbar {
  width: 80%;
}

.searchbar input {
  width: 100%;
  height: 3em;
}

.options > div {
  display: flex;
  justify-content: center;
  padding: 0.5em;
  margin: 1em;
}

.options .details {
  display: flex;
  flex-flow: column nowrap;
  width: 90%;
}

.options .details * {
  margin: 0.5em;
  padding: 0.5em;
}

.options textarea {
  height: 5em;
}

.options .choices {
  font-size: 1em;
  text-align: center;
  height: inherit;
  width: 90%;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}

.choices * {
  font-weight: bold;
  display: flex;
  white-space: normal;
  flex-wrap: wrap;
  width: 90%;
  align-items: center;
  justify-content: center;
  margin: 0.5em 0;
  height: 3em;
}

.choices button {
  width: 100%;
}

/* element styling */

.selection {
  background-color: #DEDEDE;
  outline: 1px solid black;
}

.results {
  background-color: #AAAAAA;
  outline: 1px solid #222222;
}

.data {
  background-color: #DEDEDE;
  border: 1px solid #222222;
}

.Complete {
  background-color: #BCBCBC;
  font-style: italic;
}

.options .heading {
  border-bottom: 1px solid #888888;
}

.options > div {
  outline: 1px solid #888888;
}

.options hr {
  border: 1px solid #888888;
}

.options .details {
  border: 1px solid #222222;
}