@import 'common.css';

/* basics */

a {
  text-decoration: none;
}

/* list formatting */

h4 {
  text-align: center;
}

#users {
  height: inherit;
  display: grid;
  grid-template-columns: 3fr 2fr;
  border: 1px solid black;
}

.results {
  overflow-y: scroll;
  grid-column: 1 / 2;
  padding: 0.5em;
  outline: 1px solid black;
}

.results>div {
  display: grid;
  grid-template-columns: 6fr 1fr;
  padding: 0.5em;
  margin: 0.5em;
  border: 1px solid black;
}

/* to comply with the design for faculty listing... */

.resultChoices {
  text-align: center;
}

.resultChoices input[type=checkbox] {
  width: 1.5em;
  height: 1.5em;
}

/* options menu style */

#options {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
}

#options hr {
  margin: 0;
  padding: 0;
  width: 100%;
}

.searchbar {
  width: 80%;
}

.searchbar input {
  width: 100%;
  height: 3em;
}

#options>div {
  padding: 0.5em;
}

#options .emphasis {
  display: flex;
  flex-flow: column nowrap;
}

#options a {
  width: 100%;
}

#options a *, #options input[type='submit'] {
  font-weight: bold;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 0.5em 0;
  height: 3em;
}
